name: Playwright-Test-Automation

on: 
  push:
    branches:
      - master

jobs:
  lighthouse-audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Lighthouse accessibility audit
        uses: treosh/lighthouse-ci-action@v8
        with:
          configPath: ./lighthouse-score.json
          uploadArtifacts: false

      - name: Upload Lighthouse report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: lighthouse-accessibility-report
          path: .lighthouseci/report.html

  test:
    name: Run Playwright - Tests
    runs-on: ubuntu-latest
    needs: lighthouse-audit
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install Dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install

      - name: Run Playwright Tests
        run: npx playwright test

      - name: Upload Playwright Test Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Playwright-Test-Results
          path: playwright-report/